.aboutContainer{
    max-width: 900px;
    margin: 0 auto;
    font-size: 22px;
}
.aboutContainer img{
    float: left;
    margin: 20px 50px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.aboutHeading{
    font-size: 25px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}
.aboutContent{
    display: block;
    padding: 10px;
    background-color: white;
    font-size: 17px;
    margin: 20px;
    color: #777;
}